extends layout

block content
  header.header
    .header__container
      .header__logo
        a(href='/')
          img#logo(src='/images/logo.svg', alt='logo_KWEENI')
      .header__user
        span.header__user=username
        input#userId(type='hidden', value=userId)
        a(href='/auth/logout').header__user__logout Uitloggen
        img(src=picture, alt='user').header__user__img
  .subheader
    .subheader__container
      h3.subheader__title Iets kweeni hoe moeilijk? Stel hier je vraag.
      form(method='post' action='/kweeni').subheader__prompt
        input.subheader__prompt__input(type='text', name='question')
        input.subheader__prompt__submit.button(type='submit', value='Nu vragen', class="ask__button")
  .list
    h3.list__title Hot topics!
    each question in questions
      .topic
        .topic__likes
          img(src='/images/icon-cool.svg', alt='icon').topic__likes__icon
          span(class='topic__likes__count')=`x${question.likes.length}`
        .topic__question
          a(href="/kweeni/"+question.slug)=question.question
        .topic__author
          p=question.author.username
          img(src=question.author.picture, alt='avatar')
  script(src="/javascripts/primus-lib.js")
  script(src="/javascripts/script.js")